<body>
    <div class="picture-header">
        <img src="assets/pictures/scott-walsh-CQl3Y5bV6FA-unsplash_cropped.jpg" alt="">
    </div>

    <div class="main">
        <div class="center">
            <h1>What we do</h1>
        </div>
        <div class="center">
            <p>We made it our job, to offer a All-in-one page for people on the search for helping animals in need. Wether you are only looking to place a donation, take over a sponsorship or even adopt an animal from a shelter, you will find anything! Also
                all Sanctuarys, Shelters and Zoos can keep the community up-to-date via the photo gallary on our page. All the newest animals that have arrived, have found their home or meet their sponsor can be shared there! Our news section will be
                filled with all the news from the said places, or from news from our team! Have a look there too!
            </p>
        </div>

        <div class="box">
            <div class="donation-box">
                <h2>Donation</h2>
                <p>
                    With your Donation, you help us to ensure that the animals in our care receive species-appropriate housing, care and attention for the rest of their lives. You can choose the destination of your donation from all the locations that are in partnership
                    with us! You can even place a Donation as a gift to someone else.
                </p>
                <div>
                    <a routerLink="/donation" class="button">Learn More</a>
                </div>
            </div>
            <div class="sponsorship-box">
                <h2>Sponsorship</h2>
                <p>
                    You are on the search for doing something good, or finding the right present for that special Person? This present would be a sustainable, and will directly affect the the animal but also would warm someones heart knowing they are doing something for
                    the greater good. We would love to help you!
                </p>
                <a routerLink="/sponsorship" class="button">Learn More</a>
            </div>
            <div class="adoption-box">
                <h2>Adoption</h2>
                <p>
                    Adopting an animal is always something so special! Have a look at all the animal shelters that are in partnership with us, to see, if there is any close to your location. If so, you can easily set an appointment to meet your new companion in person and
                    learn more about them. Nothing can stop you now!
                </p>
                <a routerLink="/adoption" class="button">Learn More</a>
            </div>
        </div>
    </div>
</body>