<p>home works!</p>

<body>
    <div>
        <h1>What we do</h1>
        <p></p>
    </div>

    <div class="box">
        <div class="donation-box">
            <h2>Donation</h2>
            <p>
                You are on the search for doing something good, or finding the right present for that special Person? This present would be a sustainable present, that not only will this directly affect the the animal but also would warm someones heart knowing they are
                affecting that animals life.
            </p>
            <div>
                <a href="/donation" class="button">Learn More</a>
            </div>
        </div>
        <div class="sponsorship-box">
            <h2>Sponsorship</h2>
            <p>

            </p>
            <a href="/sponsorship" class="button">Learn More</a>
        </div>
        <div class="adoption-box">
            <h2>Adoption</h2>
            <p>

            </p>
            <a href="/adoption" class="button">Learn More</a>
        </div>
    </div>
</body>