<!-- <div class="body">
<h1>Sign Up </h1>
<p>You can't sign up rightnow! Try it later please!</p>
<a href="/home" class="goHome" type="button">Go Home</a>
</div>
 -->


<div id="login-box">
  <div class="left">
    <h1>Please Sign Up</h1>
    <!-- <label for="eMail">E-Mail Adress:</label> -->
    <input type="text" name="email" placeholder="E-mail" />
    <!-- <label for="pass">Password:</label> -->
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="password" placeholder="Confirm your password" />
    <input type="password" name="password" placeholder="First Name" />
    <input type="password" name="password" placeholder="Last Name" />
    <input type="password" name="password" placeholder="Username" />

    <a href="/signup-error"><input class="sign-in" type="button" name="signin_submit" value="Sign up" /></a>

  </div>

  <div class="right">
    <h3>If you already have an account,...</h3>
    <p>...then please sign into your account using your E-Mail address and password</p>
    <a href="/sign-in"><input class="sign-up" type="button" name="signup_submit" value="sing in" /></a>


  </div>
  <div class="line"></div>
</div>
