h1 {
    font-size: 40px;
    padding-left: 190px;
    padding-bottom: 15px;
}

.box {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

img {
    width: 420px;
    height: 350px;
}

.right {
    width: 20%;
    padding-right: 170px;
}

.left {
    flex: 1;
}

form {
    table-layout: auto;
}

.input-text {
    width: 200px;
}

.firstInputInRow {
    margin-right: 10px;
}

.labelDistanceLow {
    padding-right: 10px;
    width: 200px;
}

.labelDistanceRatherLow {
    padding-right: 13px;
}

.labelDistanceMediumLow {
    padding-right: 40px;
}

.labelDistanceMedium {
    padding-right: 57px;
}

.labelDistanceHigh {
    padding-right: 71px;
}

.labelDistanceHighTweak {
    padding-right: 73px;
}

.btnSubmit {
    background-color: #008C8C;
    border-style: none;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    border-style: none;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background-color: #008C8C;
    margin-bottom: 10px;
    margin-left: 28%;
}

.centerbtn {
    position: relative;
    padding-left: 25%;
}