.pictures{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 1em;
    padding-left: 10%;
    padding-right: 10%;
}

.pic{
    background-color: #008C8C;
    text-align: center;
    padding-top: 1%;
}

h1 {
    font-size: 40px;
    padding-left: 10%;
    padding-bottom: 2%;
}

.Buttons{
    padding-left: 10%;
}

.np{
    text-align: center;
    margin: auto;
}
