<h1 class="text">Kategorien</h1>

<div class="container-fluid">
    <div class=table>
        <table>
            <tr>
                <td> <button type="button" class="btn btn-primary" id="Button" [routerLink]="['/animal-shelter']">Animal Shelter</button> </td>
                <td> <button type="button" class="btn btn-primary" id="Button" [routerLink]="['/animal-sanctuary']">Animal Sanctuary</button> </td>
                <td> <button type="button" class="btn btn-primary" id="Button" [routerLink]="['/zoo']">Zoo</button> </td>
            </tr>
            <tr>
                <td> 
                    <div class="pics">            
                        <img alt="pic1" id ="one" src="" style="width:600px">
                    </div> 
                </td>
                <td> 
                    <div class="pics">            
                        <img alt="pic1" id ="one" src="" style="width:600px">
                    </div>
                </td>
                <td> 
                    <div class="pics">            
                        <img alt="pic1" id ="one" src="" style="width:600px">
                    </div> 
                </td>
            </tr>
            <tr>
                <td> 
                    <div class="pics">            
                        <img alt="pic1" id ="one" src="" style="width:600px">
                    </div> 
                </td>
                <td> 
                    <div class="pics">            
                        <img alt="pic1" id ="one" src="" style="width:600px">
                    </div>
                </td>
                <td> 
                    <div class="pics">            
                        <img alt="pic1" id ="one" src="" style="width:600px">
                    </div> 
                </td>
            </tr>
            <tr>
                <td> <button type="button" class="btn btn-primary" id="Button" [routerLink]="['/kurzgeschichten']">Kurzgeschichten</button> </td>
            </tr>
        </table>
    </div>
</div>