<div id="login-box">
  <div class="left">
    <h1>Please Sign In</h1>
    <!-- <label for="eMail">E-Mail Adress:</label> -->
    <input type="text" name="email" placeholder="E-mail" />
    <!-- <label for="pass">Password:</label> -->
    <input type="password" name="password" placeholder="Password" />

    <a href="/home"><input class="sign-in" type="button" name="signin_submit" value="Sign in" /></a>

  </div>

  <div class="right">
    <h3>If you don't have an account yet,...</h3>
    <p>...then please sign up if you want to get access to buy and complete a Sponsorship, Donation, etc.</p>
    <a href="/sign-up"><input class="sign-up" type="button" name="signup_submit" value="sing up" /></a>


  </div>
  <div class="line"></div>
</div>
