<body>
    <div class="picture-header">
        <img src="assets/pictures/scott-walsh-CQl3Y5bV6FA-unsplash_cropped.jpg" alt="">
    </div>

    <div class="main">
        <div class="center">
            <h1>Thank you on behalf of the donation destination!</h1>
        </div>
        <div class="center">
            <p>We are happy to announce, that your donation has been fullfilled! This will help the destination to secure a great living for the animals, including food, housing and toys if needed. As well as medical bills etc. A receipt has been sent to
                your email address.</p>

        </div>
        <div class="center">
            <a href="/home" class="button">Go back to the Home Page</a>
        </div>
    </div>
</body>