<body>
  <h1>Donation</h1>
  <div class="box">

      <div class="right">

          <img src="assets/pictures/sam-carter-GHOiyov2TSQ-unsplash.jpg" alt="">

      </div>

      <div class="left">



          <p>You are on the search for doing something good, or finding the right present for that special Person? This present would be a sustainable present, that not only will this directly affect the the animal but also would warm someones heart knowing
              they are affecting that animals life.
              <br> With your gift sponsorship, you help us to ensure that the animals in our care receive species-appropriate housing, care and attention for the rest of their lives. Whether bear, horse, dog, monkey, parrot, pig, sheep or wild animal
              - there is the right godmother for every animal lover. Find out more about the individual sponsored animals and sponsored projects or sign up for a sponsorship directly.
          </p>

          <form action="/success-donation">
              <h2>
                  Choose your own Donation Amount
              </h2>
              <input type="radio" id="fiveEuro" name="fiveEuro" value="fiveEuro">
              <label>5 €</label>
              <br>
              <input type="radio" name="tenEuro" id="tenEuro" value="tenEuro">
              <label>10 €</label>
              <br>
              <input type="radio" name="fifteenEuro" id="fifteenEuro" value="fifteenEuro">
              <label>15 €</label>
              <br>
              <br>
              <h2>Set the Destination of the Donation</h2>
              <input type="radio" name="animalShelter" id="animalShelter" value="animalShelter">
              <label>Animal Shelter</label>
              <input type="radio" name="animalSanctuary" id="animalSanctuary" value="animalSanctuary">
              <label>Animal Sanctuary</label>
              <input type="radio" name="zoo" id="zoo" value="zoo">
              <label>Zoo</label>
              <br>
              <h2>Or choose your own Destination</h2>
              <select name="animalDonationDestination" id="animalDonationDestination">
                  <option *ngFor="let facility of Facilities" value="facility">{{facility.Name}}</option>
              </select>
              <br>
              <br>
              <h2>
                  Please enter the contact Information
              </h2>
              <label class="labelDistanceHigh">Name</label>
              <input type="text" name="name" id="textInput" class="firstInputInRow input-text ">


              <label class="labelDistanceMediumLow">Surname</label>
              <input type="text" name="surname" id="textInput" class="input-text ">
              <br>

              <label class="labelDistanceHigh">Street</label>
              <input type="text" name="street" id="textInput" class="firstInputInRow input-text ">

              <label class="labelDistanceRatherLow">Housnumber</label>
              <input type="text" name="street" id="textInput" class="input-text ">
              <br>

              <label class="labelDistanceMedium">Zipcode</label>
              <input type="number" name="zipcode" id="textInput" class="firstInputInRow input-text ">

              <label class="labelDistanceHighTweak">City</label>
              <input type="text" name="city" id="textInput" class="input-text ">
              <br>

              <label class="labelDistanceLow">E-Mail Address</label>
              <input type="email" name="email" id="textInput" class="input-text ">
              <br>
              <br>
              <h2>Choose Payment Method</h2>

              <input type="radio" name="visa" id="paymentMethod" value="Visa">
              <label>Visa</label>
              <br>
              <input type="radio" name="paypal" id="paymentMethod" value="PayPal">
              <label>PayPal</label>
              <br>
              <input type="radio" name="banktransfer" id="paymentMethod" value="Banktransfer">
              <label>Banktransfer</label>
              <br>
              <br>
              <label>Please note, that a banktranfser will take up to 5 business days to be fullfilled.</label>
              <br>
              <br>
              <a routerLink="/success-donation" class="button" onclick="alert('We are sorry to disappoint you. But due to technical problems, you are currently not able to place your donation.')">Place Donation</a>
              <!--<input type="submit" value="Place Donation">-->

          </form>
      </div>
  </div>

</body>
