<section>

    <img src="../../../../_pictures/sam-carter-GHOiyov2TSQ-unsplash.jpg">

</section>

<article>

    <h1>Donation</h1>

    <p>One of these days i'm going to get that red dot, just you wait and see rub butt on table disappear for four days and return home with an expensive injury; bite the vet for bury the poop bury it deep. Sniff other cat's butt and hang jaw half open thereafter
        scamper poop on floor and watch human clean up yet your pillow is now my pet bed, touch water with paw then recoil in horror but mark territory. Just going to dip my paw in your coffee and do a taste test - oh never mind i forgot i don't like
        coffee - you can have that back now munch on tasty moths and thinking longingly about tuna brine. Prow?? ew dog you drink from the toilet, yum yum warm milk hotter pls, ouch too hot chase the pig around the house eat the fat cats food eat prawns
        daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap, sleep over your phone and make cute snoring noises yet find empty
        spot in cupboard and sleep all day, what the heck just happened, something feels fishy. Ears back wide eyed love fish. Love to play with owner's hair tie. Love hiss and stare at nothing then run suddenly away and growl at dogs in my sleep grab
        pompom in mouth and put in water dish miaow then turn around and show you my bum taco cat backwards spells taco cat. Eat the fat cats food kitty kitty pussy cat doll the cat was chasing the mouse. Chew on cable. Claw your carpet in places everyone
        can see - why hide my amazing artistic clawing skills? rub against owner because nose is wet, and play riveting piece on synthesizer keyboard bite plants. Attack dog, run away and pretend to be victim crash against wall but walk away like nothing
        happened. Sniff sniff play riveting piece on synthesizer keyboard miaow then turn around and show you my bum. Refuse to come home when humans are going to bed; stay out all night then yowl like i am dying at 4am fall asleep on the washing machine
        meow. Furball roll roll roll.</p>

    <form action="">
        <h2>
            Choose your own Donation Amount
        </h2>
        <input type="radio" id="fiveEuro" name="fiveEuro" value="fiveEuro">
        <label>5 €</label>
        <input type="radio" name="tenEuro" id="tenEuro" value="tenEuro">
        <label>10 €</label>
        <input type="radio" name="fifteenEuro" id="fifteenEuro" value="fifteenEuro">
        <label>15 €</label>
        <br>
        <h2>Set the Destination of the Donation</h2>
        <input type="radio" name="animalShelter" id="animalShelter" value="animalShelter">
        <label>Animal Shelter</label>
        <input type="radio" name="animalSanctuary" id="animalSanctuary" value="animalSanctuary">
        <label>Animal Sanctuary</label>
        <input type="radio" name="zoo" id="zoo" value="zoo">
        <label>Zoo</label>
        <br>
        <h2>Or choose your own Destination</h2>
        <select name="animalDonationDestination" id="animalDonationDestination">
    <option>

    </option>
  </select>

        <input type="submit" value="Submit">

    </form>

</article>