<!-- ####### HEADER ####### -->
<header>
    <div class="nav-main"></div>
    <div class="header"></div>


    <ul class="nav-right">
        <li style="float:right"><a href="#">sign up</a></li>
        <li style="float:right"><a href="#">sign in</a></li>
        <li style="float:right"><a href="#">language</a></li>
    </ul>

    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
<div class="spinner diagonal part-1"></div>
<div class="spinner horizontal"></div>
<div class="spinner diagonal part-2"></div>
</label>
    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
            <!-- <li>Ani Smile<span>Animal Adopting</span></li> -->
            <li><a href="/home">home</a></li>
            <li><a href="/donation">donation</a></li>
            <li><a href="/sponsorship">sponsorship</a></li>
            <li><a href="/adoption">adoption</a></li>
            <li><a href="/photo-gallery">photos</a></li>
            <li><a href="/news">news</a></li>
            <li><a href="/faq">faq</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/legal-dis">legal dis.</a></li>
        </ul>
    </div>
    <a href="/home">
        <img class="logo" src="assets/Logo/Logo_Blue-01.png" alt="logo">
    </a>
</header>



<!-- <div id='center' class="main center">
    <div class="mainInner">
      <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
    <div class="mainInner">
      <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
    <div class="mainInner">
      <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
  </div> -->