<body>
    <div class="picture-header">
        <img src="assets/pictures/scott-walsh-CQl3Y5bV6FA-unsplash_cropped.jpg" alt="">
    </div>

    <div class="main">
        <div class="center">
            <h1>Congrats! The appointment has been set!</h1>
        </div>
        <div class="center">
            <p>On behalf of the animal shelter we would like to say, that we are looking forward to the appointment! We hope you are meeting your new best friend very soon.</p>

        </div>
        <div class="center">
            <a href="/home" class="button">Go back to the Home Page</a>
        </div>
    </div>
</body>