<p>sponsorship works!</p>

<body>
    <section>

        <img src="../../../../_pictures/hasmik-ghazaryan-olson-N_GrR8c2EMk-unsplash.jpg" alt="">

    </section>

    <article>

        <h1>Sponsorship</h1>

        <p>One of these days i'm going to get that red dot, just you wait and see rub butt on table disappear for four days and return home with an expensive injury; bite the vet for bury the poop bury it deep. Sniff other cat's butt and hang jaw half open
            thereafter scamper poop on floor and watch human clean up yet your pillow is now my pet bed, touch water with paw then recoil in horror but mark territory. Just going to dip my paw in your coffee and do a taste test - oh never mind i forgot
            i don't like coffee - you can have that back now munch on tasty moths and thinking longingly about tuna brine. Prow?? ew dog you drink from the toilet, yum yum warm milk hotter pls, ouch too hot chase the pig around the house eat the fat cats
            food eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap, sleep over your phone and make cute snoring
            noises yet find empty spot in cupboard and sleep all day, what the heck just happened, something feels fishy. Ears back wide eyed love fish. Love to play with owner's hair tie. Love hiss and stare at nothing then run suddenly away and growl
            at dogs in my sleep grab pompom in mouth and put in water dish miaow then turn around and show you my bum taco cat backwards spells taco cat. Eat the fat cats food kitty kitty pussy cat doll the cat was chasing the mouse. Chew on cable. Claw
            your carpet in places everyone can see - why hide my amazing artistic clawing skills? rub against owner because nose is wet, and play riveting piece on synthesizer keyboard bite plants. Attack dog, run away and pretend to be victim crash against
            wall but walk away like nothing happened. Sniff sniff play riveting piece on synthesizer keyboard miaow then turn around and show you my bum. Refuse to come home when humans are going to bed; stay out all night then yowl like i am dying at
            4am fall asleep on the washing machine meow. Furball roll roll roll.</p>


        <form action="">
            <h2>
                Choose Animal Species you want to sponsor
            </h2>
            <select name="animalSpeciesSponsorship" id="animalSpeciesSponsorship">
                <option>
                    
                </option>
           </select>

            <h2>Select to available Locations</h2>
            <select name="animalSponsorshipLocation" id="animalSponsorshipLocation">
                <option>

                </option>
            </select>

            <h2>Choose Sponsorship Level</h2>

            <input type="radio" name="firstLevel" id="sponsorshipLevel" value="First Level. 40,-€">
            <label>Name on plaque by enclousre, quartly update on Animal including Photos</label>

            <input type="radio" name="secondLevel" id="sponsorshipLevel" value="Second Level. 75,-€">
            <label>Name on plaque by enclousre, quartly update on Animal including Photo. Able to choose the Name of the Animal.</label>

            <input type="radio" name="thirdLevel" id="sponsorshipLevel" value="Third Level. 100,-€">
            <label>Name on plaque by enclousre, quartly update on Animal including Photo. Able to choose the Name of the Animal. Meeting the Animal at first visit at Location.</label>

            <h2>Will this be a present?</h2>
            <input type="radio" name="isPresent" id="sponsorshipPresent" value="Yes, this will be a present">
            <input type="radio" name="noPresent" id="sponsorshipPresent" value="No, this will be for myself">

            <h2>
                Please enter the contact Information for the Person
            </h2>
            <label>Name</label>
            <input type="text" name="name" id="textInput">

            <label>Surname</label>
            <input type="text" name="surname" id="textInput">

            <label>Street</label>
            <input type="text" name="street" id="textInput">

            <label>Housnumber</label>
            <input type="text" name="street" id="textInput">

            <label>Zipcode</label>
            <input type="number" name="zipcode" id="textInput">

            <label>City</label>
            <input type="text" name="city" id="textInput">

            <label>E-Mail Address</label>
            <input type="email" name="email" id="textInput">

            <h2>Choose Payment Method</h2>

            <input type="radio" name="visa" id="paymentMethod" value="Visa">
            <input type="radio" name="paypal" id="paymentMethod" value="PayPal">
            <input type="radio" name="banktransfer" id="paymentMethod" value="Banktransfer">
            <label>Please note, that a banktranfser will take up to 5 business days to be fullfilled.</label>

            <label>All Sponsorship Documents will be digital. There will not be any physical Documents sent to your Address. Please keep this in mind!</label>
            <input type="submit" value="Place Sponsorship">

        </form>
    </article>

</body>