.box {
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

form {
    table-layout: auto;
}

.firstInputInRow {
    margin-right: 10px;
}

.labelDistance {
    padding-right: 15px;
}