/* / .hr-footer{
   border: 2px solid #EE701F; /* #EE701F  #013040
  width: 100%;
  position: fixed;
  bottom: 19%;

} */
/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: #008C8C;
  color: white;
  z-index: -1;
  font-family: 'Varela Round', sans-serif;

} */

/* .footer-left {
  padding: 2% 2% 2% 3%;
  font-size: 14pt;
}
#ani-smile {
  color: #032552;
  font-size: 14pt;
  text-align: left;

} */
/*
.copyright{
  text-align: center;
  position: sticky;
  margin: 3% 0;
  font-size: 12pt;
  font-family: 'Varela Round', sans-serif;


}

.footer ul {
list-style: none;
background: inherit;

position: fixed;
left: 30%;
text-align: right;
overflow: hidden;

}

.footer li{
display: inline-block;


}

.footer a{
text-decoration: none;
color: #f2f2f2;
display: block;
text-transform: uppercase;
text-align: right;

font-size: 12pt;
  margin-bottom:px;
} */

/* ################## */

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background:#008C8C;
  padding:30px 0px;
  font-family: 'Varela Round', sans-serif;
  text-align:center;
  z-index: 12;
}

.footer .row p{
  position: sticky;
  text-align: left;
  margin:0% 2% -3%;
  font-size: 14pt;
  color: #222340;
  font-weight:bold;
}

.footer .row p img{
  position: fixed;
  margin:0% -6% -5%;

  width: 75px;
  height: 75px;
}



.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:#f2f2f2;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:#f2f2f2;
transition:0.5s;
font-size: 12pt;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a img{
font-size:2em;
margin:0% 1%;
}


@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a img{
margin:0% 3%;
}
}
